body {
	font-family: 'Raleway', sans-serif !important;
	line-height: inherit !important;
}
* {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
	color: black;
}
a:hover, a:focus{
	text-decoration: none !important;
	color: #f5ec9d !important;
}

.button-link{
	padding: 12px 44px;
	background-color: black;
	color: white;
	position: relative;
	top: 22px;
	border: 1px solid #fbed6c;

}
.button-link:hover, .button-link:focus{
	color: black !important;
	background-color: #fbed6c !important;
}

.header {
	position: relative;
	width: 100%;
	justify-content: center;
	height: auto;
}
.header .logo, .header .nav-bar{
	position: relative;
	width: 100%;
	height: auto;
	justify-content: center;
	text-align: center;
	align-content: center;
	align-items: center;
}
.header .logo a {
	display: block;
	color: black;
	padding: 20px 0 20px 0;
	font-size: 44px;
	letter-spacing: 8px;
}
.header .nav-bar {
	background: black;
	padding: 10px 0;
}
.header .nav-bar ul li{
	display: inline;
	padding: 10px 3%;
}
.header .nav-bar ul li a{
	font-size: 16px;
	color: white;
}

.intro{
	position: relative;
	width: 80%;
	height: 460px;
	padding: 10% 10%;
	align-content: center;
	align-items: center;
	justify-content: center;
	text-align: center;
	background: url(../img/restaurant3.jpg) center;
	background-size: cover;
	color: white;
}
.intro:before{
	content: '';
	display: block;
	position: absolute;
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
	width: 80%;
	margin: 5% 10%;
	height: 80%;
	background-color: black;
	opacity: .5;
}
.intro h1{
	position: relative;
	padding-top: 10%;
}
.intro p {
	position: relative;
	margin: 32px; 
	padding: 0 10%;
}
.intro span{
	position: relative;
	width: 100%;
	padding: 20px;
}

.category-container{
	position: relative;
	width: 100%;
	justify-content: center;
	text-align: center;
}
.category-nav {
	background-color: black;
	position: relative;
	width: 100%;
	padding: 5px 0;
}
.category-nav ul {
	padding: 10px 0 5px 0;
	position: relative;
}
.category-nav ul li{
	display: inline;
	color: white;
	font-size: 14px;
	padding: 5px 5%;
}
.category-nav ul li a {
	color: white;
	text-decoration: underline;
}

.type{
	position: relative;
	width: 90%;
	height: 380px;
}
.type.left{
	margin: 5% 0 10%;
}
.type.right{
	margin: 5% 10% 5%;
	
}
.type .type-name{
	position: absolute;
	top: 0;
	width: 25%;
	z-index: 5;
	background-color: #fbed6c;
	text-align: left;
	padding: 35px;
}
.type.right .type-name{
	left: 0;
}
.type.left .type-name{
	right: 0;
}
.type .type-box {
	position: absolute;
	bottom: 0;
	width: 35%;
	height: 360px;
	background: url(../img/restaurant.jpg) center;
	background-size: cover;
	color: white;
}
.type .type-box * {
	position: relative;
	z-index: 10;
}
.type.right .type-box {
	right: 0;
	padding: 0 10% 0 50%;
	justify-content: right;
	text-align: right;
}
.type.left .type-box {
	left: 0;
	padding: 0 50% 0 10%;
	justify-content: left;
	text-align: left;
}
.type .type-box:before{
	content: '';
	display: block;
	position: absolute;
	top: 0;
	width: 50%;
	height: 100%;
	z-index: 0;
	background-color: black;
	opacity: .5;
}
.type.right .type-box:before{
	right: 0;
}
.type.left .type-box:before{
	left: 0;
}
.type-box h2{
	margin-top: 15%;
}

.black-container{
	position: relative;
	width: 100%;
	background-color: black;
	padding: 5% 0;
}
.black-container .detail{
	position: absolute;
	width: 35%;
	padding: 0% 55% 0 10%;
	justify-content: left;
	text-align: left;
	color: white;
}

.square-box{
	position: relative;
	width: 33%;
	height: 290px;
	
}
.square-box h2 {
	padding: 10%; 
}
.square-box.right h2{
	background-color: #fbed6c;  
	text-align: right;
}
.square-box.left h2 {
	background-color: black;  
	text-align: left;
	color: white;
}
.square-box.right a{
	float: right;
}
.square-box *{
	position: relative;
	z-index: 10;
}
.square-box:before{
	content: '';
	display: block;
	position: absolute;
	z-index: 1;
	top: 0;
	width: 40%;
	height: 100%;
}
.square-box.right:before{
	right: 0;
	background-color: black;
	opacity: .3;
}
.square-box.left:before{
	left: 0;
	background-color: white;
	opacity: .3;
}
.square-box.right{
	padding: 160px 15% 0 0;
	margin-top: 5%;
	margin-left: 52%;
	background: url(../img/7.jpg) center;
	background-size: cover;
}
.square-box.left{
	padding: 160px 0 0 15%;
	margin-top: -15%;
	margin-right: 52%;
	background: url(../img/table.jpg) center;
	background-size: cover;
}


.working {
	position: relative;
	width: 100%;
	margin-top: 60px;
	text-align: center;
	justify-content: center;
}
.working .step-row{
	position: relative;
	margin-top: 40px;
	width: 100%;
	height: 280px;
}
.step-row .step{
	position: relative;
	float: left;
	width: 20%;
	height: 220px;
	text-align: center;
	justify-content: center;
}
.step h1 {
	position: relative;
	display: block;
	font-size: 80px;
	font-weight: 500;
	margin-bottom: 20px;
}
.step.two, .step.four{
	margin-top: 60px;
}

.about-container {
	position: relative;
	width: 100%;
	height: 460px;
}
.about-background{
	position: absolute;
	right: 0;
	width: 70%;
	height: 100%;
	float: right;
	background: url(../img/open-air.jpg);
}
.about-detail{
	position: relative;
	z-index: 10;
	width: 35%;
	padding: 60px 0% 0 10%;
	height: 400;
	color: white;
	background-color: black;
	margin: 3% 0;
	
}
.about-detail p{
	position: relative;
	padding-right: 10%;
}
.contact-container{
	position: relative;
	width: 100%;
	margin: 80px 0;
	justify-content: center;
	text-align: center;
}
.contact-container span {
	font-size: 30px;
}












.footer{
	position: relative;
	width: 90%;
	background-color: black;
	color: white;
	height: 50;
	padding: 60px 5% 60px 5%;
}
.footer.white{
	background-color: white;
	color: black;
}
.footer .left{
	float: left;
	position: relative;
}
.footer .right{
	float: right;
	position: relative;
	text-align: right;
}
@media only screen and (max-width: 900px){
	.type .type-box{
		width: 50%;

	}
	.type .type-box:before {
		width: 55%;
	}
	.type.right .type-box{
		padding: 0 10% 0 55%;
	}
	.type.left .type-box{
		padding: 0 55% 0 10%;
	}
}

@media only screen and (max-width: 600px){
	body {
		font-size: 14px;
	}
	p, a {
		font-size: 12px;
	}
	h1 {
		font-size: 20px;
	}
	h2{
		font-size: 18px;
	}
	h3 {
		font-size: 14px;
	}
	.button-link{
		padding: 8px 32px;
		background-color: black;
		color: white;
		position: relative;
		top: 22px;
		border: 1px solid #fbed6c;

	}
	.header .logo a {
		font-size: 32;
		letter-spacing: 4;
	}
	
	.header .nav-bar ul li a {
    	font-size: 12px;
	}
	.type{
		height: 280px;
	}
	.type .type-name {
		padding: 16px;
	}
	.type .type-box {
		width: 100%;
		height: 260px;
	}
	.black-container{
		position: relative;
		width: 100%;
		background-color: black;
		padding: 5% 0;
	}
	.black-container .detail{
		position: relative;
		width: 80%;
		padding: 0% 10% 0 10%;
		justify-content: center;
		text-align: center;
		color: white;
	}

	.square-box{
		position: relative;
		width: 80%;
		height: 140px;
		margin: 5% 0;
	}
	.square-box:before{
		display: none;
	}
	.square-box.right, .square-box.left{
		padding: 10%;
		margin: 15% 0;
		text-align: center;
		justify-content: center;
	}
	.square-box.right a{
		float: none;
	}
	.square-box h2{
		padding: 5%;
	}
	.square-box.right h2, .square-box.left h2{
		text-align: center;
	}
	

	.about-container{
		height: 260px;
	}
	.about-detail{
		width: 65%;
	    height: 240px;
    	padding-top: 20px;
	}
	.contact-container span {
		font-size: 16px;
	}
}





/***************************** Table and PArty***************************************/

.heading{
	position: relative;
	width: 20%;
	padding: 80px 40%;
	background: url(../img/table.jpg) center;
	text-align: center;
	justify-content: center;
	align-items: center;
	align-content: center;
}
.heading h2{
	position: relative;
	align-self: center;
	padding: 5%;
	background-color: white;
	color: black;
}
p strong {
	font-size: 22px;
	font-weight: 600;
}


/***********************form*****************/

.form-container{
	position: relative;
	justify-content: center;
	text-align: center;
	width: 60%;
	padding: 80px 25%;
}